<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.utsprogmob">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RecyclerViewMahasiswa"></activity>
        <activity android:name=".RecyclerViewKelas" />
        <activity android:name=".RecyclerViewKrs" />
        <activity android:name=".CreateMatkulActivity" />
        <activity android:name=".CreateMhsActivity" />
        <activity android:name=".CreateKrsActivity" />
        <activity android:name=".Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>